<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse  bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Parking</a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link"  [routerLink]="['ingreso']">Ingreso</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link"  [routerLink]="['retiro']">Retiro</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" routerLinkActive="active" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Consultas
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item"  [routerLink]="['busqueda-todos']" >Todos los registros</a>
          <a class="dropdown-item" [routerLink]="['busqueda-por-placa']">Consulta vehiculo Ingresado</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
