<h3>Registros de vehiculos</h3>
<table>
  <tr><th> Id</th>
  <th> Placa </th>
  <th>TipoVehiculo</th>
  <th>fecha Ingreso</th>
  <th>fecha Salida</th>
  <th>Recargo</th>
  <th>Valor</th>  </tr>
  <tr   *ngFor="let registro of Allregistros" >
        <td>{{registro.id}}</td>
        <td>{{registro.placa}}</td>
         <td>{{registro.tipoVehiculo.descripcion}}</td>
         <td>{{registro.fechaIngreso |date:'short' }}</td>
         <td>{{registro.fechaSalida |date:'short' }}</td>
         <td> {{registro.recargo}}</td>
         <td>{{registro.valor |currency:'COP'  }}</td>

  </tr>
</table>
